.accordio-header{
    @extend .landing-header;
    margin-bottom: 0;
    h1{
        font-size: 5em;
        @include responsive(phone){
            font-size: 1.8em;
        }
    }
    span{
        position: relative;
        top: -2px;
        left: -282px;
        @include responsive(phone){
            top: 0px;
            left: -67px;
            font-size: .7em;
        }
    }
}

.accordio-main{
    display: flex;
    justify-content: center;
    .accordio-list{
        width: 70vw;
        margin-bottom: 4rem;
        .accordio{
            padding: 1.5rem;
            margin-bottom: 2rem;
            background-color: white;
            border-radius: 1rem;
            cursor: pointer;
            transform: scale(0);
            transform-origin: bottom center;
            border: 1px solid rgb(230, 221, 207);
            @include responsive(phone){
                padding: 1rem;
            }

            &:hover{
                box-shadow: 0 0 8px 2px rgb(248, 226, 190);
                border: 3px solid rgb(230, 221, 207);
            }
            .accordio-title{
                display: flex;
                justify-content: space-between;
                .title{
                    width: 100%;
                    h1{
                        font-weight: 600;
                        @include responsive(phone){
                            font-size: 1.2em;
                            margin: 0;
                        }
                    }
                    span{
                        font-weight: 600;
                        @include responsive(phone){
                            font-size: .8em;
                        }
                    }
                }
                .button{
                    display: flex;
                    button{
                        background-color: white;
                        border: none;
                        padding: 0 6px 0 0;
                        &:focus{
                            outline: none !important;
                        }
                        img.up{
                            transform: rotate(-90deg);
                            @include responsive(phone){
                                width: 1.8em;
                            }
                        }
                        img.down{
                            transform: rotate(90deg);
                            @include responsive(phone){
                                width: 1.8em;
                            }
                        }
                    }
                }
            }
            .accordio-body{
                display: block;
                overflow: hidden;
                max-height: 0;
                transform-origin: top center;
                transition: all 1s 0s ease-in-out;
                p{
                    @include responsive(phone){
                        font-size: .7em;
                    }
                }
            }
            .accordio-body.show{
                max-height: 500px;
            }
        }
        .accordio.popUp{
            animation: popUpAcordion .5s .6s ease-in forwards;
            @keyframes popUpAcordion {
                0%{
                    opacity: 1;
                    transform: scale(1);
                }
                40%{
                    transform: scale(1.05);
                }
                100%{
                    opacity: 0;
                    transform: scale(0);
                }
            }
        }
    }
}
