.header{
    height: 25vh;
    display: flex;
    justify-content: center;
    align-items: center;
    @include responsive(phone){
        height: 15vh;
    }
    .title{
        display: flex;
        flex-direction: column;
        align-items: center;
        h1{
            margin: 0;
            font-weight: 700;
            font-size: 5.5em;
            @include responsive(phone){
                font-size: 2em;
            }
        }
        span{
            position: relative;
            top: -15px;
            left: 7px;
            align-self: start;
            @include responsive(phone){
                top: 0;
                left: 2;
                font-size: .7em;
            }
        }
    }
}
.form-main{
    display: flex;
    justify-content: center;
    form{
        width: 70vw;
    }
}

.comment-list{
    display: flex;
    justify-content: center;
    margin: 1rem 0 15vh 0;
    .comment{
        width: 70vw;
        .comment-body{
            position: relative;
            font-size: 1em;
            @include responsive(phone){
                font-size: .7em;
            }
        }
        .blockquote-footer{
            @include responsive(phone){
                font-size: .6em;
            }
        }
    }
    .option{
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        right: 20px;
        bottom: 15px;
        .btn-delete{
            cursor: pointer;
            font-size: 32px !important;
            color: rgba($color: #c24848, $alpha: 1.0);
            @include responsive(phone){
                font-size: 20px !important;
            }
        }
        .emoji-option{
            width: 30px;
            height: 30px;
            cursor: pointer;
            margin-right: .5rem;
            @include responsive(phone){
                margin-right: .3rem;
                width: 20px;
                height: 20px;
            }
        }
    }
    .floating-tag-option.show{
        transform: scale(1);
        opacity: 1;
        pointer-events: all;
        @include responsive(phone){
            transform: scale(.7);
        }
    }
    .floating-tag-option{
        position: absolute;
        background-color: white;
        border: 1px solid rgb(163, 163, 163);
        border-radius: .5rem;
        bottom: -40px;
        right: 65px;
        z-index: 1;
        opacity: 0;
        transform: scale(0);
        transition: .2s ease-in;
        transform-origin: top right;
        pointer-events: none;
        @include responsive(phone){
            right: 50px;
            bottom: -30px;
        }
        button{
            display: inline;
            margin: .5rem .5rem;
            border: none;
            background-color: white;
            opacity: 1;
            @include responsive(phone){
                margin: .2rem .2rem;
            }
            .emoji-option{
                width: 27px;
                height: 27px;
            }
        }
    }
}


.main{
    z-index: 3;
}
.form-control{
    border-radius: 0;
    box-shadow: -8px 9px 0 -2px rgba($color: #744f4f, $alpha: 1.0);
    border: 1px solid rgb(230, 221, 207);
    @include responsive(phone){
        font-size: .8em;
    }
    &:focus{
        box-shadow: 0 0 8px 2px rgb(248, 226, 190);
        border: 3px solid rgb(230, 221, 207);
    }
}

.btn-submit{
    color: white;
    background-color: #744f4f;
    border-color: #744f4f;
    @include responsive(phone){
        font-size: .75rem;
        padding: .28125rem .5625rem;
    }
    &:hover{
        color: rgb(255, 247, 235);
    }
}

.card{
    border-radius: 0;
}

.form-group-radio{
    .form-radio{
        display: inline;
        margin: .5rem 1.5rem .5rem 0;
        @include responsive(smallPhone){
            margin-right: 0;
        }
        .emoji{
            cursor: pointer;
            width: 30px;
            height: 30px;
            margin-right: .5rem;
        }
        input{
            position: absolute;
            opacity: 0;
        }

        input:checked ~ {
            .emoji{
                transform: scale(1.2);
            }
            .radio-label{
                transform: scale(1.2);
            }
        }

        .radio-label{
            cursor: pointer;
            font-size: .8em;
            font-weight: 700;
            color: rgb(34, 30, 30);
            padding: .2rem 1.2em;
            border-radius: .3rem;
        }
        &:hover{
            .emoji{
                transform: scale(1.2);
            }
            .radio-label{
                transform: scale(1.2);
            }
        }

        &:nth-child(2){
            .radio-label{
                background-color: #e6e65e;
            }
        }

        &:nth-child(3){
            .radio-label{
                background-color: #e497a5;
            }
        }
        &:nth-child(4){
            .radio-label{
                background-color: #8ba1df;
            }
        }
        &:nth-child(5){
            .radio-label{
                background-color: #f87575;
            }
        }
    }
}