.confirm{
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 80vh;
    position: relative;
    margin-bottom: 3.5rem;
    @include responsive(phone){
        margin-top: 4rem;
    }
    .header-confirm{
        h1{
            font-weight: 700;
            font-size: 4em;
            @include responsive(phone){
                font-size: 2em;
            }
        }
    }
    .massage{
        width: 70vw;
        height: 50vh;
        padding: 1rem;
        background-color: white;
        border: 1px solid #ced4da;
        margin-bottom: 1.5rem;
        box-shadow: -14px 15px 0 -2px rgba($color: #744f4f, $alpha: 1.0);
        display: flex;
        align-items: center;
        flex-direction: column;
        position: relative;
        @include responsive(phone){
            height: 45vh;
        }
        .title{
            position: relative;
            align-self: flex-start;
            left: 20px;
            margin-bottom: 1rem;
            @include responsive(phone){
                left: 0;
            }
            h3{
                margin: 0;
                font-weight: 700;
                font-size: 3vw;
                @include responsive(phone){
                    font-size: 1.4em;
                }
            }
            p{
                @include responsive(phone){
                    font-size: .7em;
                }
            }
        }
        .paragraph{
            position: relative;
            display: block;
            height: 40vh;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            @include responsive(phone){
                height: 35vh;
            }
            p{
                font-size: 2vw;
                font-weight: 400;
                @include responsive(phone){
                    font-size: 1em;
                    text-align: center;
                }

            }
            span{
                position: absolute;
                font-weight: 700;
                font-size: 7em;
                color: rgba($color: #252323, $alpha: 1.0);
                @include responsive(phone){
                    font-size: 4em;
                }
                &:nth-child(1){
                    left: -30px;
                    top: -60px;
                    @include responsive(phone){
                        left: -27px;
                        top: -35px;
                    }
                }
                &:nth-child(3){
                    right: -30px;
                    bottom: -70px;
                    @include responsive(phone){
                        right: -27px;
                        bottom: -45px;
                    }
                }
            }
        }
    }
    .button-card{
        display: flex;
        width: 70vw;
        justify-content: space-between;
    }
}

.btn-confirm{
    color: white;
    background-color: #578863;
    border-color: #578863;
    @include responsive(phone){
        font-size: .7rem !important;
    }
    &:hover{
        color: rgb(27, 48, 27);
    }
}

.btn-back{
    color: white;
    background-color: rgb(139, 60, 60);
    border-color: rgb(139, 60, 60);
    @include responsive(phone){
        font-size: .7rem !important;
    }
    &:hover{
        color: rgb(51, 20, 20);
    }
}