.login{
    height: 80vh;
    margin: 0 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 4rem;
    @include responsive(phone){
        margin: 0 1rem;
    }
    .login-register-floating-box{
        width: 70%;
        background: white;
        border-radius: 5vh;
        padding: 4rem;
        @include responsive(phone){
            width: 100%;
            border-radius: 3vh;
            padding: 2rem;
        }
        .login-register-header{
            margin-bottom: 1.2rem;
            @include responsive(phone){
                margin-bottom: .5rem;
            }
            .title{
                font-size: 2.7rem;
                font-weight: 800;
                margin-bottom: -5px;
                @include responsive(phone){
                    font-size: 2rem;
                }
            }
            span{
                font-size: 1.5rem;
                font-weight: 300;
                @include responsive(phone){
                    font-size: 1rem;
                }
            }
        }
        .login-register-form{
            form{
                .alert-danger{
                    ul{
                        list-style: none;
                        li{
                            @include responsive(phone){
                                font-size: .7rem;
                            }
                        }
                    }
                }
            }
        }
    }
}

small.form-text{
    margin-top: .5rem;
}

ul{
    padding-left: 0;
}

