{% extends 'layout.html' %}
{% load static %}

{% block title %}Book List{% endblock title %}

{% block body %}
    {% csrf_token %}
    <div class="book-header">
        <h1 class="title">Google Book Store</h1>
        <span>PerePereWere Story 9 (2minggu coy)</span>
    </div>
    <div class="book-main">
        <div class="book-search">
            <h1>Cari Buku...</h1>
            <div class="input-group mb-3">
                <input type="text" class="form-control" id="input-search" placeholder="Masukkan nama buku yang anda cari..." aria-label="Cari" aria-describedby="button-search">
                <div class="input-group-prepend">
                    <button class="btn btn-submit" type="button" id="button-search">Cari</button>
                </div>
            </div>
        </div>
        <div class="leaderboard">
            <button type="button" id="leaderboard-btn" class="btn btn-leaderboard" data-toggle="modal" data-target="#LeaderBoard">
                5 Buku Dengan Rating Terbaik
            </button>
        </div>
        <div class="book-list" id="book-list">
        </div>
        <div class="modal fade" id="LeaderBoard" tabindex="-1" role="dialog" aria-labelledby="LeaderBoardLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="LeaderBoardLabel">LeaderBoard</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  ...
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
              </div>
            </div>
          </div>
    </div>
{% endblock body %}