{% extends 'layout.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %}Register{% endblock title %}

{% block body %}
    <div class="register">
        <div class="login-register-floating-box">
            <div class="login-register-header">
                <h1 class="title">Sign Up</h1>
                <span>Daftar kan akun barumu disini</span>
            </div>
            <div class="login-register-form">
                <form method="POST">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <button type="submit" class="btn btn-submit">Sign Up</button>
                </form>
                <hr>
                <div class="other-choice">
                    <span>Sedah memiliki akun? Sign in <a href="{% url 'landingpage:login' %}">disini</a></span>
                    <div class="google-OAuth2">
                    </div>
                <div>
            </div>
    </div>
    </div>
{% endblock body %}