{% extends 'layout.html' %}
{% load static %}

{% block title %}Accordio{% endblock title %}

{% block body %}
    <div class="accordio-header">
        <h1 class="title">Apa itu Lorem Ipsum?</h1>
        <span>PerePereWere Story 8 Ajigile</span>
    </div>
    <div class="accordio-main">
        <div class="accordio-list">
            <div class="accordio">
                <div class="accordio-title">
                    <div class="title">
                        <h1>Bahasa</h1>
                        <span>Apa itu Lorem Ipsum? (Indo)</span>
                    </div>
                    <div class="button">
                        <button type="button" class="button-up"><img src="{% static 'img/arrow.png' %}" class="up" alt=""></button>
                        <button type="button" class="button-down"><img src="{% static 'img/arrow.png' %}" class="down" alt=""></button>
                    </div>
                </div>
                <div class="accordio-body show">
                    <p>Lorem Ipsum adalah contoh teks atau dummy dalam industri percetakan dan penataan huruf atau typesetting. Lorem Ipsum telah menjadi standar contoh teks sejak tahun 1500an, saat seorang tukang cetak yang tidak dikenal mengambil sebuah kumpulan teks dan mengacaknya untuk menjadi sebuah buku contoh huruf. </p>
                </div>
            </div>
            <div class="accordio">
                <div class="accordio-title">
                    <div class="title">
                        <h1>Melayu</h1>
                        <span>Apa itu Lorem Ipsum? (Malay)</span>
                    </div>
                    <div class="button">
                        <button type="button" class="button-up"><img src="{% static 'img/arrow.png' %}" class="up" alt=""></button>
                        <button type="button" class="button-down"><img src="{% static 'img/arrow.png' %}" class="down" alt=""></button>
                    </div>
                </div>
                <div class="accordio-body">
                    <p>Lorem Ipsum adalah text contoh digunakan didalam industri pencetakan dan typesetting. Lorem Ipsum telah menjadi text contoh semenjak tahun ke 1500an, apabila pencetak yang kurang terkenal mengambil sebuah galeri cetak dan merobakanya menjadi satu buku spesimen.</p>
                </div>
            </div>
            <div class="accordio">
                <div class="accordio-title">
                    <div class="title">
                        <h1>English</h1>
                        <span>What is Lorem Ipsum?</span>
                    </div>
                    <div class="button">
                        <button type="button" class="button-up"><img src="{% static 'img/arrow.png' %}" class="up" alt=""></button>
                        <button type="button" class="button-down"><img src="{% static 'img/arrow.png' %}" class="down" alt=""></button>
                    </div>
                </div>
                <div class="accordio-body">
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                </div>
            </div>
            <div class="accordio">
                <div class="accordio-title">
                    <div class="title">
                        <h1>Italiano</h1>
                        <span>Cos’è Lorem Ipsum?</span>
                    </div>
                    <div class="button">
                        <button type="button" class="button-up"><img src="{% static 'img/arrow.png' %}" class="up" alt=""></button>
                        <button type="button" class="button-down"><img src="{% static 'img/arrow.png' %}" class="down" alt=""></button>
                    </div>
                </div>
                <div class="accordio-body">
                    <p>Lorem Ipsum è un testo segnaposto utilizzato nel settore della tipografia e della stampa. Lorem Ipsum è considerato il testo segnaposto standard sin dal sedicesimo secolo, quando un anonimo tipografo prese una cassetta di caratteri e li assemblò per preparare un testo campione.</p>
                </div>
            </div>
        </div>
    </div>
{% endblock body %}